body{

background:#0b0f19;

color:white;

font-family:Arial;

text-align:center;

}

input{

padding:12px;

width:420px;

margin:10px;

background:#161b22;

border:1px solid #30363d;

color:white;

}

button{

padding:12px 20px;

background:#00ffa3;

border:none;

cursor:pointer;

}

.card{

background:#161b22;

margin:15px auto;

padding:15px;

width:420px;

border-radius:10px;

}

.score{

border:2px solid #00ffa3;

font-size:22px;

}
